doctype html5
html(lang="es")
	head
		title Photographer
		meta(charset="UTF-8")
		meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
		link(rel="stylesheet", href="css/style.css")
		link(rel="stylesheet", href="css/fontello.css")
		script(src="https://code.jquery.com/jquery-3.1.1.min.js")
		script(src="js/social.js")
	body
		.general
			header
				.cont
					.titulos
						h1 Photographer
						.redes
							a(href="#").icon-twitter
							a(href="#").icon-facebook
							a(href="#").icon-linkedin
							a(href="#").icon-pinterest
							a(href="#").icon-mail
						span.icon-menu

			nav
				.cont
					.menu
						a(href="#") All
						a(href="#") Nature
						a(href="#") Landscapes
						a(href="#") Animals

			main
				.cont
					.galeria
						.imgs
							img(src="img/galeria/mas.jpg", alt="")
						.imgs
							img(src="img/galeria/sun.jpg", alt="")
						.imgs
							img(src="img/galeria/leaf.jpg", alt="")
						.imgs
							img(src="img/galeria/mountain.jpg", alt="")
						.imgs
							img(src="img/galeria/1600.jpg", alt="")
						.imgs
							img(src="img/galeria/home.png", alt="")
						.imgs
							img(src="img/galeria/cat.jpg", alt="")
						.imgs
							img(src="img/galeria/097.jpg", alt="")
						.imgs
							img(src="img/galeria/Grass2.jpg", alt="")
						.imgs
							img(src="img/galeria/blue.jpg", alt="")
						.imgs
							img(src="img/galeria/1200.jpg", alt="")
						.imgs
							img(src="img/galeria/stay.jpg", alt="")

			footer
				.cont
					p Copyright &copy; 2016 Servidor




